{% extends 'base.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        {% if post.image %} 	
        <img class="img-fluid" src="{{ post.image.url }}"  alt="">
        
        {% endif %}
        <p class="card-text ">{{ object.content|safe }}</p>
       
      </div>
    </div>
    
  </div>
</div>
<h4>Poster votre commentaire ici</h4>
<form method="post">
    {% csrf_token %}
    <div class="form-groupe">
      {{ form.as_p }} 
      <input type="submit" name="form" value="commentez" class="btn btn-primary btn-sm" >
    </div>
</form>

{% for comment in lesson.comments.all %}
                <h4>{{ comment.auteur }}<small><i>poste le {{ comment.data_added }}</i></small></h4>
                <p>{{ comment.corps }} </p>
    {% for reponse in comment.reponses.all %}
                <h5>{{ reponse.auteur }}<small> <i> poste le {{ reponse.data_added }}</i></small></h5>
                <p>{{ reponse.corps }} </p>


    {% endfor %}
<form method="POST ">
    {% csrf_token %}
    <input type="hidden" name="comment_id" value="{{ comment.id }}">
    {{ form2.as_p }}
    <input type="submit" name="form2" value="repondez" class="btn btn-warning btn-sm">


</form>
</div> 
{% endfor %}
{% endblock body %}